@page "/roles"
@implements IDisposable
@inject AppService AppService
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation
@attribute [Authorize]

<PageTitle>List Roles</PageTitle>

@if (roleItems == null)
{
    @if (loadError == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <p class="text-danger">@loadError</p>
    }
}
else
{
    <div class="mb-3">
        <MudText Typo="Typo.h3">Roles</MudText>
    </div>

    <MudStack AlignItems="AlignItems.End" Class="mb-3">
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.AddCircleOutline" Color="Color.Primary" OnClick="@(e => OnAdd())">Add</MudButton>
    </MudStack>

    <MudDataGrid T="RoleItems" @ref="grid" ServerData="(new Func<GridState<RoleItems>, Task<GridData<RoleItems>>>(ServerReload))" Filterable="false">
        <Columns>
            <PropertyColumn Property="x => x!.Name" Title="Name" />
            <TemplateColumn Title="Is Default" Sortable="false">
                <CellTemplate>
                    <MudCheckBox @bind-Checked="context.Item.IsDefault" Disabled="true" />
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn Title="Is Public" Sortable="false">
                <CellTemplate>
                    <MudCheckBox @bind-Checked="context.Item.IsPublic" Disabled="true" />
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn StickyRight="true" Sortable="false" Filterable="false">
                <CellTemplate>
                    <MudStack Row="true">
                        <MudIconButton Icon="@Icons.Material.Outlined.Badge" Size="@Size.Small" Title="Permissions" OnClick="@(e => OnModifyPermissions(context.Item!))" />
                        <MudIconButton Icon="@Icons.Material.Outlined.Edit" Size="@Size.Small" Title="Edit" OnClick="@(e => OnEdit(context.Item!))" />
                        <MudIconButton Icon="@Icons.Material.Outlined.Delete" Size="@Size.Small" Title="Delete" OnClick="@(e => OnDelete(context.Item!))" />
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="User" />
        </PagerContent>
    </MudDataGrid>
}

@code {
    private MudDataGrid<RoleItems>? grid;
    private string? loadError;

    private RoleItems[]? roleItems;

    protected override async Task OnInitializedAsync()
    {
        Navigation.LocationChanged += LocationChanged;

        await LoadDataAsync();
    }

    void IDisposable.Dispose()
    {
        Navigation.LocationChanged -= LocationChanged;
    }

    private async void LocationChanged(object? sender, LocationChangedEventArgs e)
    {
        roleItems = null;
        StateHasChanged();

        await LoadDataAsync();
        StateHasChanged();
    }

    private async Task LoadDataAsync()
    {
        try
        {
            RoleItemsDto<RoleItems> res = await AppService.ListRolesAsync("", 0, null);
            roleItems = res.Items.ToArray();
        }
        catch (Exception ex)
        {
            loadError = ex.Message;
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }

    private async Task<GridData<RoleItems>> ServerReload(GridState<RoleItems> state)
    {
        var top = state.PageSize;
        var skip = state.Page * state.PageSize;
        string? orderby = "";
        var RecordCount = 0;

        if (state.SortDefinitions.Any())
        {
            var firstSortDefinition = state.SortDefinitions.First();
            var direction = firstSortDefinition.Descending;
            if (direction)
                orderby = "Name" + " desc";
            else
                orderby = "Name";
        }
        try
        {
            RoleItemsDto<RoleItems> res = await AppService.ListRolesAsync(orderby, skip, top);
            roleItems = res.Items.ToArray();
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
        return new() { TotalItems = RecordCount, Items = roleItems?.ToList() ?? Enumerable.Empty<RoleItems>() };
    }

    private async void OnAdd()
    {
        DialogOptions dialogOptions = new() { FullWidth = true, CloseOnEscapeKey = true };

        var result = await DialogService.Show<AddRole>("Add Role", dialogOptions).Result;

        if (!result.Canceled)
        {
            await (grid?.ReloadServerData() ?? Task.CompletedTask);
        }
    }

    private async void OnModifyPermissions(RoleItems record)
    {
        DialogParameters<UpdatePermissions> dialogParams = new() { { x => x.Name, record.Name } };
        DialogOptions dialogOptions = new() { FullWidth = true, CloseOnEscapeKey = true };

        await DialogService.Show<UpdatePermissions>("", dialogParams, dialogOptions).Result;
    }

    private async void OnEdit(RoleItems record)
    {
        DialogParameters<UpdateRole> dialogParams = new() { { x => x.Id, record.Name } };
        DialogOptions dialogOptions = new() { FullWidth = true, CloseOnEscapeKey = true };

        var dialog = await DialogService.ShowAsync<UpdateRole>("Update Role", dialogParams, dialogOptions);
        await Task.Delay(1000);  // Force UI rerender
        StateHasChanged();
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await (grid?.ReloadServerData() ?? Task.CompletedTask);
        }
    }

    private async void OnDelete(RoleItems record)
    {
        var result = await DialogService.ShowMessageBox(
            "Warning",
            "Are you sure you want to delete this record?",
            "Delete",
            "Cancel");

        if (result.GetValueOrDefault(false))
        {
            try
            {
                await AppService.DeleteRoleAsync(record.Id!);
                await (grid?.ReloadServerData() ?? Task.CompletedTask);
            }
            catch (Exception ex)
            {
                Snackbar.Add(ex.Message, Severity.Error);
            }
        }
    }
}
